@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  body {
    background: #0a0a0a;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
